/* GENERAL WEBVIEW SETTINGS */

body {
	margin-top: 20px;
}

/* TESTS TREE VIEW */

.test-row {
	width: 100%;
}
.test-cell {
	width: 0.1%;
	border-width: 2px;
	border-style: solid;
	padding: 4px;
	vertical-align: top;
	text-align: left;
	color: var(--vscode-editor-foreground);
	font-size: 22px;
	font-family: var(--vscode-editor-font-family);
}
.test-cell { border-color: rgba(96, 96, 96, 0.3); background-color: rgba(96, 96, 96, 0.15); }
.test-good { border-color: rgba(32, 255, 32, 0.3); background-color: rgba(32, 255, 32, 0.15); }
.test-bad { border-color: rgba(255, 32, 32, 0.3); background-color: rgba(255, 32, 32, 0.15); }
.test-warn { border-color: rgba(255, 127, 0, 0.3); background-color: rgba(255, 127, 0, 0.15); }

.test-cell {
	position: relative;
	overflow: auto;
}
.test-cell.folded {
	padding: 0px;
}
.test-actions {
	position: absolute;
	top: 4px;
	right: 4px;
	user-select: none;
}
.test-note {
	position: absolute;
	bottom: 4px;
	right: 4px;
	user-select: none;
	z-index: -1;
}

.test-actions { opacity: 0; }
.test-cell:hover > .test-actions { opacity: 1; }

.test-actions { color: rgba(96, 96, 96, 0.3); }
.test-action:hover { color: rgba(255, 255, 255, 1); }
.test-good > .test-actions { color: rgba(32, 255, 32, 0.3); }
.test-bad > .test-actions { color: rgba(255, 32, 32, 0.3); }
.test-warn > .test-actions { color: rgba(255, 127, 0, 0.3); }

.test-cell > .test-note { color: rgba(96, 96, 96, 0.3); }
.test-good > .test-note { color: rgba(32, 255, 32, 0.3); }
.test-bad > .test-note { color: rgba(255, 32, 32, 0.3); }
.test-warn > .test-note { color: rgba(255, 127, 0, 0.3); }

/* ADDING NEW TESTS */

#new-container {
	display: flex;
	justify-content: flex-end;
}
textarea.new {
	flex-grow: 1;
	border: 2px solid rgba(96, 96, 96, 0.3);
	padding: 4px;
	font-size: 22px;
	font-family: var(--vscode-editor-font-family);
	vertical-align: top;
	text-align: left;
	color: rgba(255, 255, 255, 0.9);
	background-color: rgba(96, 96, 96, 0.15);
}
div.button {
	font-size: 64px;
	color: rgba(255, 255, 255, 0.4);
	user-select: none;
}
div.button:hover {
	color: rgba(255, 255, 255, 1);
}
#new-container > textarea { display: none; }
#new-container > textarea.new-active { display: initial; }
#new-start { display: initial; }
#new-start.new-active { display: none; }
#new-confirm { display: none; }
#new-confirm.new-active { display: initial; }