body {
	margin-top: 20px;
}

.container {
	display: flex;
}

.log {
	flex: 1;
}
.log > thead > tr > th {
	border: 2px solid rgba(96, 96, 96, 0.3);
	padding: 4px;
	font-size: 18px;
	background-color: rgba(96, 96, 96, 0.15);
}
.log > tbody > tr > td {
	border: 2px solid rgba(96, 96, 96, 0.3);
	padding: 4px;
	font-size: 18px;
	background-color: rgba(96, 96, 96, 0.15);
}
.log > tbody > tr > td.outcome-accept {
	border-color: rgba(32, 255, 32, 0.3);
	background-color: rgba(32, 255, 32, 0.15);
}
.log > tbody > tr > td.outcome-wrong_answer {
	border-color: rgba(255, 32, 32, 0.3);
	background-color: rgba(255, 32, 32, 0.15);
}
.log > tbody > tr > td.outcome-runtime_error {
	border-color: rgba(255, 32, 32, 0.3);
	background-color: rgba(255, 32, 32, 0.15);
}
.log > tbody > tr > td.outcome-time_limit_exceeded {
	border-color: rgba(255, 32, 32, 0.3);
	background-color: rgba(255, 32, 32, 0.15);
}

@keyframes scale-into {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}
.log > tbody > tr {
	animation-name: scale-into;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
}

@keyframes blinking-row {
	0% {
		border-color: rgba(96, 96, 96, 0.3);
		background-color: rgba(96, 96, 96, 0.15);
	}
	50% {
		border-color: rgba(96, 96, 96, 0.9);
		background-color: rgba(96, 96, 96, 0.45);
	}
	100% {
		border-color: rgba(96, 96, 96, 0.3);
		background-color: rgba(96, 96, 96, 0.15);
	}
}
#current {
	animation-name: blinking-row;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
}

.data {
	border: 2px solid rgba(96, 96, 96, 0.3);
	padding: 4px;

	vertical-align: top;
	text-align: left;
	font-size: 22px;
	font-family: var(--vscode-editor-font-family);
	color: rgba(255, 255, 255, 0.9);

	background-color: rgba(96, 96, 96, 0.15);
}

#best-test-container.data {
	min-height: 64px;
}

.actions {
	opacity: 0;
	color: rgba(96, 96, 96, 0.6);
	float: right;
	user-select: none;
}
.data:hover .actions {
	opacity: 1;
}
.action:hover {
	color: rgba(255, 255, 255, 1);
}
a.action {
	color: inherit;
	text-decoration: inherit;
	cursor: pointer;
	font-size: 64px;
}
