::-webkit-scrollbar {
	display: none;
}

body {
	padding: 0px;
}

.table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

.cell {
	position: relative;
	padding: 10px;
	vertical-align: top;
}
.row.folded > .cell {
	padding: 0px;
}

.data {
	white-space: nowrap;
	z-index: 1;
	overflow: auto;
}

.actions {
	position: absolute;
	right: 0;
	margin-right: 4px;
	z-index: 2;
	user-select: none;
	pointer-events: none;
}

.action {
	margin: 0;
	pointer-events: all;
	cursor: pointer;
}

.note {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	z-index: 2;
	user-select: none;
	pointer-events: none;
}

#new-container {
	--padding-half: 8px;
	display: none;
}

#new-container.is-active {
	display: flex;
	padding: var(--padding-half);
}

.new {
	flex-grow: 1;
	margin: var(--padding-half);
	resize: vertical;
}
