:root {
	--margin-new: 8px;
	--padding-cell: 12px;
}

::-webkit-input-placeholder {
	text-align: center;
	line-height: 70px;
}
::-webkit-scrollbar {
	display: none;
}

body {
	padding: 0px;
}

.table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

.cell {
	position: relative;
	padding: var(--padding-cell);
	vertical-align: top;
}
.data {
	z-index: 1;
	overflow: auto;
	white-space: nowrap;
}

.actions {
	position: absolute;
	right: var(--padding-cell);
	z-index: 2;
	pointer-events: none;
	user-select: none;
}
.action {
	margin: 0;
	cursor: pointer;
	pointer-events: all;
}

.note {
	position: absolute;
	right: var(--padding-cell);
	bottom: var(--padding-cell);
	z-index: 2;
	pointer-events: none;
	user-select: none;
}

.new {
	display: none;
}
.new.is-active {
	display: unset;
}

.new-areas {
	display: flex;
	padding: calc(var(--margin-new) / 2);
	padding-bottom: 0;
}
.new-area {
	flex-grow: 1;
	margin: calc(var(--margin-new) / 2);
	resize: vertical;
}

.new-tutorial {
	margin: var(--margin-new);
	text-align: center;
}
