:root {
	--col-norm2: rgba(192, 192, 192, 0.2);
	--col-norm1: rgba(192, 192, 192, 0.1);
	--col-text: var(--vscode-editor-foreground);
	--font: var(--vscode-editor-font-family);
	--border-width: 1px;
}

.row {
	--col2: var(--col-norm2);
	--col1: var(--col-norm1);
}
.row.status-passed > .cell.output {
	--col2: rgba(32, 255, 32, 0.3);
	--col1: rgba(32, 255, 32, 0.15);
}
.row.status-failed > .cell.output {
	--col2: rgba(255, 32, 32, 0.3);
	--col1: rgba(255, 32, 32, 0.15);
}
.row.status-ignore > .cell.output {
	--col2: rgba(255, 127, 0, 0.3);
	--col1: rgba(255, 127, 0, 0.15);
}

.cell {
	border: var(--border-width) solid var(--col2);
	background: var(--col1);
}
.row.verdict-alternative > .cell.output {
	background: repeating-linear-gradient(
		45deg,
		var(--col1),
		var(--col1) 10px,
		transparent 10px,
		transparent 20px
	);
}
.row.status-ignore > .cell.desired {
	opacity: 0.5;
}
.row.folded > .cell {
	opacity: 0.5;
}

.data {
	color: var(--col-text);
	font-size: 22px;
	font-family: var(--font);
}
.stderr {
	opacity: 0.2;
}

.actions {
	display: none;
}
.cell:hover > .actions {
	display: unset;
}
.actions.tutorialize {
	display: unset;
}
.action {
	color: var(--col2);
	font-size: 22px;
}
.action:hover {
	color: white;
}

.note {
	color: var(--col2);
	font-size: 22px;
	font-family: var(--font)
}

.new {
	border: var(--border-width) solid var(--col-norm2);
	padding: 4px;
	color: var(--col-text);
	font-size: 22px;
	font-family: var(--font);
	background-color: var(--col-norm1);
}
