:root {
	--col0-normal: rgba(192, 192, 192, 1.0);
	--col1-normal: rgba(192, 192, 192, 0.1);
	--col2-normal: rgba(192, 192, 192, 0.01);
	--col-text: var(--vscode-editor-foreground);
	--font: var(--vscode-editor-font-family);
	--font-size: 20px;
	--border-width: 1px;
}

body {
	color: var(--col-text);
	font-family: var(--font);
	font-size: var(--font-size);
}

.row {
	--col0: var(--col0-normal);
	--col1: var(--col1-normal);
	--col2: var(--col2-normal);
}
.row.status-passed > .cell.output {
	--col0: rgba(32, 255, 32, 1.0);
	--col1: rgba(32, 255, 32, 0.4);
	--col2: rgba(32, 255, 32, 0.4);
}
.row.status-passed.verdict-alternative > .cell.output {
	--col0: rgba(32, 255, 128, 1.0);
	--col1: rgba(32, 255, 128, 0.4);
	--col2: rgba(32, 255, 128, 0.4);
}
.row.status-failed > .cell.output {
	--col0: rgba(255, 32, 32, 1.0);
	--col1: rgba(255, 32, 32, 0.4);
	--col2: rgba(255, 32, 32, 0.4);
}
.row.status-ignore > .cell.output {
	--col0: var(--col0-normal);
	--col1: var(--col1-normal);
	--col2: transparent;
}
.row.status-ignore:not(:last-child) > .cell.output {
	border-bottom: none;
}

.cell {
	border: var(--border-width) solid var(--col1);
}
.cell.input {
	border-right: none;
}
.cell.output {
	background: linear-gradient(to top right, transparent, var(--col2));
}

.stderr {
	color: var(--col0);
}

.actions {
	display: none;
}
.cell:hover > .actions {
	display: unset;
}
.actions.tutorialize {
	display: unset;
}

.action {
	color: var(--col1);
	font-size: inherit;
}
.action:hover {
	color: white;
}

.note {
	color: var(--col1);
}

.new-area {
	border: var(--border-width) solid var(--col1-normal);
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	background: var(--col2-normal);
}
