body {
	margin-top: 20px;
}

.test > tr {
	width: 100%;
}

.data, textarea {
	border: 2px solid rgba(96, 96, 96, 0.3);
	padding: 4px;

	background-color: rgba(96, 96, 96, 0.15);
	font-size: 22px;
	vertical-align: top;
	text-align: left;
	color: rgba(255, 255, 255, 0.9);
}

.data {
	width: 0.1%;
}

.out-good {
	border-color: rgba(32, 255, 32, 0.3);
	background-color: rgba(32, 255, 32, 0.15);
}

.out-bad {
	border-color: rgba(255, 32, 32, 0.3);
	background-color: rgba(255, 32, 32, 0.15);
}

.actions {
	opacity: 0;
	color: rgba(96, 96, 96, 0.3);
	float: right;
	user-select: none;
}

.out-good > .actions {
	color: rgba(32, 255, 32, 0.3);
}
.out-bad > .actions {
	color: rgba(255, 32, 32, 0.3);
}

.data:hover .actions {
	opacity: 1;
}

.action:hover {
	color: rgba(255, 255, 255, 1);
}

a.action {
	color: inherit;
	text-decoration: inherit;
	cursor: pointer;
}

#new-container {
	display: flex;
	justify-content: flex-end;
}
textarea.new {
	flex-grow: 1;
	font-family: var(--vscode-editor-font-family);
}
div.button {
	font-size: 64px;
	color: rgba(255, 255, 255, 0.4);
	user-select: none;
}
div.button:hover {
	color: rgba(255, 255, 255, 1);
}
#new-container > textarea { display: none; }
#new-container > textarea.new-active { display: initial; }
#new-start { display: initial; }
#new-start.new-active { display: none; }
#new-confirm { display: none; }
#new-confirm.new-active { display: initial; }